.footer{
    padding: 2rem 5rem;
    background-color: black;
    color: #fff;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i{
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
}
.top p{
    margin-top: 10px;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.bottom h4{
    font-size: 1.3rem;
    padding: .5rem 0 .8rem 0;
}
.bottom p{
    padding: 5px;
}